.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: transparent; /* 여기!! */
}

.header-link {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #001F54;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: #003377;
}
